@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", sans-serif;
  margin: 0;
  color: #000;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Pretendard", sans-serif;
}

#full-schedule {
  padding-top: 16.5rem;
  overflow: hidden;
  height: auto;
}
#full-schedule .popup-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
@media (max-width: 1023px) {
  #full-schedule .popup-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  #full-schedule .popup-title {
    font-size: 3rem;
  }
}
#full-schedule .view-type {
  display: flex;
  gap: 1rem;
  padding-left: 370px;
  margin-bottom: 2rem;
}
#full-schedule .view-type a {
  padding: 8px 2rem;
  background-color: #EEEEEE;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
#full-schedule .view-type .list-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../img/icon/list-icon.png) no-repeat center center;
}
#full-schedule .view-type .calendar-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../img/icon/calendar.png) no-repeat center center;
}
@media (max-width: 768px) {
  #full-schedule .view-type {
    padding-left: 0;
  }
}

.content-container {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
  margin-bottom: 14rem;
}

.left-container {
  width: 30%;
  position: sticky;
  top: 100px;
}

.search-bar {
  width: 100%;
}
.search-bar input {
  padding: 12px 2.4rem;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #000;
}

.filter {
  background-color: #000;
  padding: 3rem 2.4rem;
  margin-top: 1rem;
}

.top-txt {
  color: #fff;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.top-txt .reset-btn {
  cursor: pointer;
}
.top-txt .reset-btn:hover {
  text-decoration: underline;
}

.select-container {
  padding-bottom: 4rem;
}

.date-select {
  gap: 1rem;
  align-items: center;
  position: relative;
}
.date-select .start-date,
.date-select .end-date {
  flex-grow: 1;
}
.date-select .start-date label,
.date-select .end-date label {
  color: #fff;
  font-weight: 500;
}
.date-select .start-date::after,
.date-select .end-date::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 1px;
  background-color: #A3A3A3;
  transform: translate(-50%, -50%);
}
.date-select .start-date input,
.date-select .end-date input {
  padding: 8px 0;
  color: #fff;
  background-color: #3b3b3b;
  border: none;
  font-family: "Pretendard", sans-serif;
  text-align: center;
  width: 100%;
}

.flex-content {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.date-btn div {
  padding: 8px 0;
  border: 1px solid #A3A3A3;
  color: #fff;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-weight: 200;
  transition: 0.2s;
  width: 25%;
  text-align: center;
}
.date-btn div:hover {
  border: 1px solid #fff;
  transition: 0.2s;
}
.date-btn div.selected {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.category .category-btn .flex-content {
  margin-bottom: 1rem;
  justify-content: flex-start;
}
.category .category-btn .flex-content div {
  padding: 4px 2.6rem;
  text-align: center;
  border: 1px solid #A3A3A3;
  border-radius: 10rem;
  cursor: pointer;
  color: #A3A3A3;
  transition: 0.2s;
}
.category .category-btn .flex-content div:hover {
  border: 1px solid #fff;
  transition: 0.2s;
  color: #fff;
}
.category .category-btn .flex-content div.selected {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.Search-button {
  cursor: pointer;
  margin-top: 4rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 1.25rem;
  text-align: center;
  transition: 0.2s;
}
.Search-button:hover {
  background-color: #fff;
  transition: 0.2s;
  color: #000;
  font-weight: 700;
}

/* ⭐️ 데스크톱 버전 */
.search-button-fixed {
  display: none;
}

@media (max-width: 1420px) {
  .left-container {
    width: 45%;
  }
  #full-schedule .view-type {
    padding-left: 410px;
  }
}
@media (max-width: 1168px) {
  .left-container {
    width: 50%;
  }
  #full-schedule .view-type {
    padding-left: 384px;
  }
}
@media (max-width: 1024px) {
  #full-schedule {
    padding-top: 10.5rem;
  }
  #full-schedule .view-type {
    padding: 0;
  }
  .left-container {
    display: none;
  }
  .search-button-fixed {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
  }
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .modal-container.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-container .left-container {
    display: block;
    width: 100%;
    position: static;
    top: auto;
  }
  .modal-container .left-container .filter {
    padding: 0;
  }
  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
    width: 100%;
    max-height: 80vh;
    background-color: #000;
    border-radius: 20px 20px 0 0;
    padding: 2rem;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
    z-index: 201;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  .active .modal-content {
    transform: translateY(0);
  }
  .modal-content .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  .modal-content .modal-header .modal-close-btn {
    border: none;
    background: none;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  .filter-modal-content {
    width: 100%;
  }
  .filter-modal-content .search-bar input {
    background-color: #3b3b3b;
    color: #fff;
    border: 1px solid #A3A3A3;
  }
  .filter-modal-content .filter {
    background-color: #3b3b3b;
    padding: 3rem 2.4rem;
    margin-top: 1rem;
  }
  .filter-modal-content .filter .Search-button {
    margin-top: 4rem;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
  }
  .category .category-btn .flex-content div {
    width: 100%;
    padding: 8px 0;
    text-align: center;
  }
  .top-txt {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .view-type {
    padding-left: 0;
  }
}