html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", sans-serif;
  margin: 0;
  color: #000;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 4rem;
  }
}
.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
@media (max-width: 1023px) {
  .title {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 3rem;
  }
}

#full-schedule {
  padding-top: 16.5rem;
}

.content-container {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}

.left-container {
  width: 37%;
}

.search-bar {
  width: 100%;
}
.search-bar input {
  padding: 12px 2.4rem;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #000;
}

.filter {
  background-color: #000;
  padding: 3rem 2.4rem;
  margin-top: 1rem;
}

.top-txt {
  color: #fff;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.select-container {
  padding-bottom: 4rem;
}

.date-select .start-date, .date-select .end-date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.date-select .start-date label, .date-select .end-date label {
  color: #fff;
  font-weight: 500;
}
.date-select .start-date input, .date-select .end-date input {
  padding: 8px 2rem;
  color: #fff;
  background-color: #3b3b3b;
  border: none;
  font-family: "Pretendard", sans-serif;
}

.flex-content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.date-btn div {
  padding: 8px 2rem;
  border: 1px solid #A3A3A3;
  color: #fff;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-weight: 200;
  transition: 0.2s;
}
.date-btn div:hover {
  border: 1px solid #fff;
  transition: 0.2s;
}

.category .category-btn .flex-content {
  margin-bottom: 1rem;
  justify-content: flex-start;
}
.category .category-btn .flex-content div {
  padding: 4px 2.8rem;
  text-align: center;
  border: 1px solid #A3A3A3;
  border-radius: 10rem;
  cursor: pointer;
  color: #A3A3A3;
  transition: 0.2s;
}
.category .category-btn .flex-content div:hover {
  border: 1px solid #fff;
  transition: 0.2s;
  color: #fff;
}

.Search-button {
  cursor: pointer;
  margin-top: 4rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 1.25rem;
  text-align: center;
  transition: 0.2s;
}
.Search-button:hover {
  background-color: #fff;
  transition: 0.2s;
  color: #000;
  font-weight: 700;
}