html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", sans-serif;
  margin: 0;
  color: #000;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Pretendard", sans-serif;
}

#news {
  background-color: #000;
}

@media (max-width: 768px) {
  .news-container {
    padding: 8rem 4rem;
  }
}

.news-container-inner {
  display: flex;
  gap: 35%;
  padding: 12rem 0;
}
.news-container-inner .news-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .news-container-inner {
    flex-direction: column;
    padding-top: 8rem;
  }
}

.news-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 1023px) {
  .news-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  .news-title {
    font-size: 3rem;
  }
}

.news-list {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.news-item {
  transition: transform 0.3s ease-in-out;
}
.news-item:hover {
  transform: translateY(-5px);
}
.news-item a {
  display: block;
  width: 100%;
  height: auto;
}
.news-item img {
  display: block;
  width: 100%;
  height: auto;
}

.news-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #A3A3A3;
  font-size: 1.8rem;
  font-weight: 700;
}
.news-text p a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .news-text {
    padding-top: 4.5rem;
    padding-bottom: 8rem;
  }
}

.footer {
  padding: 5rem 0;
  color: #A3A3A3;
  line-height: 2rem;
}
.footer .ft-logo {
  width: 100%;
  height: 100%;
  padding-bottom: 1.8rem;
}
@media (max-width: 768px) {
  .footer .ft-logo img {
    width: 120px;
  }
}
.footer .brand-text {
  font-weight: bold;
  font-size: 1.6rem;
}
.footer p {
  line-height: 2.5rem;
}
.footer .footer-links {
  display: flex;
  gap: 1.875rem;
  padding-top: 2rem;
}
.footer .footer-links a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1.5rem;
  background-color: #A3A3A3;
  margin-left: 1.5rem;
}
@media (max-width: 768px) {
  .footer .ft-text {
    font-size: 13px;
  }
}