html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", sans-serif;
  margin: 0;
  color: #000;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .container {
    max-width: 1300px;
    padding: 0 4rem;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 2rem;
  }
}

.main-event-container {
  margin: #EEEEEE auto;
}

.main-visual-section {
  position: relative;
  width: 100vw;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-visual-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/mainvisual/main-bg.png") no-repeat center center;
  opacity: 0.3;
  filter: blur(6px);
  z-index: 1;
}

#todayPopup {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todayPopupInnerTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  height: 40rem;
}
.todayPopupInnerTxt .text-group {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.todayPopupInnerTxt .popup-name {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
}
@media (max-width: 1023px) {
  .todayPopupInnerTxt .popup-name {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  .todayPopupInnerTxt .popup-name {
    font-size: 3rem;
  }
}
.todayPopupInnerTxt .todayPopupTxt {
  color: #FF3686;
  font-weight: 700;
  font-size: 3rem;
}
.todayPopupInnerTxt .pop-date {
  font-weight: 500;
  font-size: 2.5rem;
}

.main-visual-image {
  flex-shrink: 0;
}
.main-visual-image img {
  width: 40rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .main-visual-section {
    height: 60rem;
  }
  #todayPopup {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .todayPopupInnerTxt {
    text-align: center;
    height: auto;
    gap: 3rem;
  }
  .todayPopupInnerTxt .text-group {
    align-items: center;
  }
  .todayPopupInnerTxt .text-group .popup-name {
    font-size: 3.8rem;
  }
  .todayPopupInnerTxt .text-group .todayPopupTxt {
    font-size: 2.5rem;
  }
  .todayPopupInnerTxt .text-group .pop-date {
    font-size: 2rem;
  }
  .main-visual-image img {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 768px) {
  .main-visual-section {
    height: 50rem;
    padding-top: 50px;
  }
  .main-event-container {
    margin: 8rem auto;
  }
  #todayPopup {
    flex-direction: column;
    padding: 2rem 0;
    gap: 3rem;
  }
  #todayPopup .todayPopupInnerTxt {
    order: 2;
    gap: 2rem;
  }
  #todayPopup .todayPopupInnerTxt .popup-name {
    font-size: 2.5rem;
  }
  #todayPopup .todayPopupInnerTxt .todayPopupTxt {
    font-size: 2rem;
  }
  #todayPopup .todayPopupInnerTxt .pop-date {
    font-size: 1.5rem;
  }
  .main-visual-image {
    order: 1;
  }
  .main-visual-image img {
    width: 25rem;
    height: 25rem;
  }
}