/* variables.scss */
body {
  font-family: "Pretendard", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calendar {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calendar-header h1 {
  font-size: 2em;
  font-weight: 600;
}
.calendar-header button {
  padding: 5px 15px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background: none;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 10px;
}

.calendar-weekdays div {
  font-weight: 600;
  color: #333;
}
.calendar-weekdays div:nth-child(1), .calendar-weekdays div:nth-child(7) {
  color: #f00;
}

.day {
  padding: 15px 5px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.day.is-today {
  background-color: #e0e0e0;
  font-weight: bold;
}

.event-list {
  font-size: 0.8em;
  text-align: left;
  margin-top: 5px;
}
.event-list li {
  color: #666;
  line-height: 1.2;
}