@use 'variables' as var;

#detail{
    padding-top: var.$padding-t165;
    display: flex;
    gap: 100px;

    @media (max-width: 767px){
        flex-direction: column;
        gap: 50px;
    }

    
}

.left-container{
    img{
        width: 100%;
    }

    .btn-container{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        a{
            flex: 1;
            padding: 2rem;
            background-color: var.$bColor;
            color: var.$WColor;
            text-align: center;
            transition: background-color 0.3s ease-in-out;

            &:hover{
                background-color: var.$point-color;
                transition: background-color 0.3s ease-in-out;
            }
        }
        

    }
}

.right-container{
    width: 100%;

    .title-container{
        padding-bottom: 4rem
    }

    .title{
        @include var.title-style;
        margin-bottom: 2rem;
    }

    .date{
        font-size: 2.5rem;

        @media (max-width: 767px){
            font-size: 2rem;
        }
    }

    .info-container{
        display: flex;
        border-top: 1px solid var.$bColor;
        gap: 2rem;

        @media (max-width: 767px){
            gap: 0;
            flex-direction: column;
        }
    }

    .info-item{
        flex-grow: 1;
        padding: 4rem 0;

        @media (max-width: 767px){
            padding: 3rem 0;

            &:nth-child(2),&:nth-child(4) {
            padding: 0 0 3rem 0;
        }
        }

        .sub-title{
            @include var.sub-title-style;
        }

        p{
            margin-top: 12px;
            line-height: 2rem;
        }
    }

    .pd-bt{
        padding: 0 0 4rem 0;


    }
}

    
