@use 'variables' as var;

#news{
    background-color: var.$bColor;
}

.news-container{
    @media (max-width: 768px) {
        padding: 8rem 4rem;
    }
}

.news-container-inner {
    display: flex;
    gap: 35%;
    padding: var.$pc 0;

    .news-header{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding-top: var.$mo;
    }
}

.news-title {
    @include var.title-style();
    margin-bottom: 20px;
    color: var.$WColor;

}

.news-list {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;

}

.news-item {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
        width: 100%;
        height: auto;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.news-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var.$grayColor2;
    @include var.s-title-style();
    
    p{
        a{
            &:hover {
            color: var.$WColor;
            }
        }
    }
    
    @media (max-width: 768px) {
        padding-top: 4.5rem;
        padding-bottom: var.$mo;
    }
}

//footer
.footer {
    padding: 5rem 0;
    color: var.$grayColor2;
    line-height: 2rem;

    .ft-logo{
        width: 100%;
        height: 100%;
        padding-bottom: 1.8rem;

        img{
            @media (max-width:768px){
                width: 120px;
            }
        }
    }

    .brand-text {
        font-weight: bold;
        font-size: 1.6rem;
    }


    p {
        line-height: 2.5rem;
    }

    .footer-links{
        display: flex;
        gap: 1.875rem;
        padding-top: 2rem;

        a:after{
            content: '';
            display: inline-block;
            width: 1px;
            height: 1.5rem;
            background-color: var.$grayColor2;
            margin-left: 1.5rem;
        }
    }

    .ft-text{
        @media (max-width :768px) {
            font-size: 13px;
        }
    }
}
