@use 'variables' as var;

// 변수 설정 (색상, 폰트 등)
$main-text-color: #333;
$past-day-color: #a0a0a0;

.calendar-wrapper{
    width: 100%;
    margin-bottom: 14rem;
}

// 헤더
.calendar-header {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;

    h2 {
        @include var.title-style();
    }

    .nav-btn {
        background: none;
        border: none;
        cursor: pointer;
    }
}

// 요일 및 날짜 그리드
.calendar-weekdays,
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: none;
}

.calendar-weekdays div {
    padding: 15px 0  15px 1rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    &:first-child { color: var.$weekend-sun; }
    &:last-child { color: var.$weekend-sat; }
}

.calendar-days {
    border-top: none;
    .day-cell {
        min-height: 160px;
        padding: 1.6rem 1rem;
        border-bottom: 1px solid var.$grayColor2;
        text-align: left;
        display: flex;
        flex-direction: column;
        
        .day-number {
            font-size: 1.2em;
            font-weight: bold;
        }

        &.past-day,
        &.next-month-day {
             opacity: .4;
        }

        &.sunday {
            .day-number {
                color: var.$weekend-sun;
            }
        }
        
        &.saturday {
            .day-number {
                color: var.$weekend-sat;
            }
        }
    }
}

// 이벤트 목록
.event-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;

    .event-item {
        font-size: 1.4rem;
        line-height: 2rem;
        position: relative;
        padding-left: 10px; // 원을 위한 공간

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }

        // 이벤트 유형에 따른 색상
        &.beuty::before { background-color: var.$type-beuty; }
        &.living::before { background-color: var.$type-living; }
        &.fashion::before { background-color: var.$type-fashion; }
        &.food::before { background-color: var.$type-food; }
        &.hobby::before { background-color: var.$type-hobby; }
        &.characters::before { background-color: var.$type-characters; }
        &.animation::before { background-color: var.$type-animation; }
    }
}

