$grayColor: #EEEEEE;
$bColor: #000;
$WColor: #fff; 

// 포인트 컬러
$point-color: #FF3686; 

// 태그 색상 - 그리드 사용 (ongoing.css)
$type-beuty: #FF7BB0;
$type-living: #5CB6FF;
$type-fashion: #937BFF;
$type-food: #FFB428;
$type-hobby: #98E220;
$type-characters: #FFDD1C;
$type-animation: #E71212;